<div id="our-work">
  <div class="page-header">
    <h1>Our work with Pontarius</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <alert type="danger">Our security designs are prototyped, not yet finalized, and have not been vetted by security experts.</alert>
      <p>We are currently working on the core features of Pontarius; that is, contacts and identity management, and basic secure communication.</p>
      <h2>The API</h2>
      <p>Pontarius exposes a simple D-Bus API that allows developers to easily enable Pontarius-based communication to their users. D-Bus is a standardized inter-process communication protocol.</p>
      <h2>The service</h2>
      <p>Pontarius is an application running on your machine. It currently uses GnuPG in order to generate identities (cryptographic keys), XMPP for communication, and an Off-the-Record-like protocol for exchanging identities. It aims to allow application developers to establish end-to-end secure communication through something like a virtual TCP socket. The service is written in Haskell, and uses SQLite for storage.</p>
      <p style="padding-top: 6px;"><a class="btn btn-success" href="https://github.com/pontarius/pontarius-service" role="button">See Pontarius Service on GitHub</a></p>
      <h2>The user interface</h2>
      <p>We are currently developing a front-end to manage the core aspects of Pontarius.</p>
      <p style="padding-top: 6px;"><a class="btn btn-success" href="https://github.com/pontarius/pontarius-ui" role="button">See Pontarius User Interface on GitHub</a></p>
    </div>
    <div class="col-md-4">
      <p>Would you like to get involved?</p>
      <p style="padding-top: 6px;"><a class="btn btn-primary" role="button" ui-sref="contribute">See how to contribute</a></p>
    </div>
  </div>
</div>
