<div id="vision">
  <div class="page-header">
    <h1>The Pontarius vision</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>The idea behind Pontarius is simple, yet profound. We want to change the way that communication is done over the Internet. The goal is to facilitate direct communication between users, in a way that reveals as little as possible to third parties. We are building a development framework around this idea, and we are inviting developers to build their applications on top of it.</p>
      <h2>End-to-end security</h2>
      <p>Pontarius enables you to easily connect with your friends, and secures your communication against interception and manipulation with strong encryption.</p>
      <h2>Free software running on your machine</h2>
      <p>Proprietary systems often contain universal backdoors and other security problems. Pontarius is developed as <a href="http://www.gnu.org/philosophy/free-sw.en.html">free software</a> that runs <a href="http://www.gnu.org/philosophy/who-does-that-server-really-serve.en.html">on you machine</a>, completely under your control.</p>
      <h2>Holistic usability</h2>
      <p>The use of cryptographic tools is often difficult and inconvenient. Pontarius should be designed with simple security workflows in mind, allowing users to find each other and carry out their tasks securely without unnecessary overhead. Application developers should be able to easily utilize the features of Pontarius through a well thought-out API.</p>
    </div>
    <div class="col-md-4">
      <p>Are you interested in what we have done so far?</p>
      <p style="padding-top: 6px;"><a class="btn btn-primary" role="button" ui-sref="ourWork">See our work</a></p>
    </div>
  </div>
</div>
